<!DOCTYPE html>
<!-- Consider specifying the language of your content by adding the `lang` attribute to <html> -->
<!--[if lt IE 7]> <html class="no-js ie6"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>

	<meta charset="utf-8">

	<!-- Always force latest IE rendering engine & Chrome Frame -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<!-- Put your title here! -->
	<title></title>

	<meta name="description" content="">

	 <!-- Mobile viewport optimized: h5bp.com/viewport -->
	<meta name="viewport" content="width=device-width">

	<link href="{{STATIC_URL}}static/css/style.css" rel="stylesheet">

	<!-- Load Open Sans and Merriweather from Google Fonts
		For optimal performance, customize it to load the styles you need:
		http://goo.gl/QufgJ
	-->
	<link href="//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700|Merriweather:400,700,900" rel="stylesheet">

	<!-- All JavaScript at the bottom, except for Modernizr
		Modernizr enables HTML5 elements & feature detects; It includes Respond, a polyfill for min/max-width CSS3 Media Queries
		For optimal performance, use a custom Modernizr build: www.modernizr.com/download/ -->
	<script src="{{STATIC_URL}}static/js/modernizr-2.6.1.min.js"></script>
</head>



<body>

	<!-- Prompt IE 6 and 7 users to install Chrome Frame:		chromium.org/developers/how-tos/chrome-frame-getting-started -->
	<!--[if lt IE 8]>
		<p class="chromeframe alert alert-warning">Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p>
	<![endif]-->

	<header id="master-header" class="clearfix" role="banner">

		<hgroup>
			<h1 id="site-title"><a href="http://127.0.0.1:8000{%url vista_principal%}" title="Your Site Name">El Blog de Rams</a></h1>
			<h2 id="site-description">Hecho con Python+Django!!!</h2>
		</hgroup>

	</header> <!-- #master-header -->

<div id="main" class="row clearfix">

	<!-- Main navigation -->
	<nav class="main-navigation clearfix span12" role="navigation">
		<h3 class="assistive-text">Main menu</h3>
		<ul>
			<li class="current"><a href="http://127.0.0.1:8000{%url vista_principal%}">Inicio</a></li>
			<li>
				<a href="http://127.0.0.1:8000{%url vista_contacto%}">Acerca de</a>
				<ul class="sub-menu">
					<li><a href="#">Subpage</a></li>
					<li><a href="#">Subpage 2</a></li>
				</ul>
			</li>
			<li><a href="contact.html">Contact</a></li>
		</ul>
	</nav> <!-- #main-navigation -->

{%block noticias%}
<div id="content" role="main" class="span7">
	<article class="post hentry">
		<header class="entry-header">
			<h1 class="entry-title">
			<a href="#" title="Post Heading" rel="bookmark">Bienvenido</a>
			</h1>
			<a href="#" title="Post Heading"><img src="" alt="Post thumbnail" class="thumbnail" /></a>
		</header> <!-- .entry-header -->

		<div class="entry-content">
			Aqui puedes agregagar noticias o lo que gustes compartir
			<a href="#" class="more-link">Continuar Leyendo<span class="meta-nav">&rarr;</span></a>

		</div> <!-- .entry-content -->

			<footer class="entry-meta">Posteado en: <a href="#" rel="category"></a>
			en
			<time class="entry-date" datetime="{{Noticias.fecha}}" pubdate>
			</time>
			por
			<span class="author vcard"><a class="url fn n" href="#" title="View all posts by Author" rel="author">Admin</a>
			</span>

			</footer>

	</article> <!-- .post.hentry -->
</div> <!-- Finaliza la seccion de noticias -->
{%endblock noticias%}
<div id="sidebar" role="complementary" class="span4">

	<!-- Non-working search form -->
	<form role="search" action="#" class="searchform">
		<label class="assistive-text" for="s">Search for:</label>
		<input type="search" name="s" id="s" results="10" placeholder="Search..." value="">
		<input type="submit" value="Search">
	</form> <!-- .searchform.widget -->
{%block widget1%}
	<aside class="widget">
		<h3 class="widget-title">Sidebar</h3>	
	</aside> <!-- .widget -->

{%endblock widget1%}

{%block widget2%}
{%endblock widget2%}

</div> <!-- #sidebar -->

</div> <!-- #main -->

	<footer id="footer" role="contentinfo">
		<!-- You're free to remove the credit link to Jayj.dk in the footer, but please, please leave it there :) -->
		<p>
			Copyright &copy; 2012 <a href="#">Sitename.com</a>
			<span class="sep">|</span>
			Design by <a href="http://jayj.dk" title="Design by Jayj.dk">Jayj.dk</a>
		</p>
	</footer> <!-- #footer -->

	<!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="{{STATIC_URL}}static/js/jquery-1.7.2.min.js"><\/script>')</script>

	<!-- Load custom scripts -->
	<script src="{{STATIC_URL}}static/js/script.js"></script>
</body>
</html>
